@import url('main.css');
body {
   
}
.quitar-float{
    float: none;
}

.espacio-arriba{
    margin-top: 100px;
    text-align: justify;
}
.pacifico{
     font-family: 'Pacifico', cursive;
}

.grande{
    font-size: 3em;
}

.centro{
	width:395px;
	height:146px;
	position:absolute;
	left:50%;
	top:51%;
	margin:-75px 0 0 -135px;
}